html {
    overflow: scroll;
}

head {
    color: black
}

title {
    padding: 20%;
}

body {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
    color: black;
    font-family: Verdana, sans-serif;


    /* Set the background colour animation */
    background: linear-gradient(-45deg, #c3e3f5, #D5F3FE, #7ec9e5, #73d2bc);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    height: 100vh;
}

footer {
    margin-top: auto;
}

/* Set the background animation gradient */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

/*Everything from here is organising the input elements in the
fieldset */
fieldset {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: white;
    opacity: 1.0;

    position: relative;
    gap: 1rem;
    padding: 0.25rem;

}

legend {
    background: rgb(193, 192, 236);
    border: solid 1px black;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 6px;

    font-family: didot, serif;
    font-weight: bold;
    font-style: italic;
}

input::placeholder {
    opacity: 1;
    color: #a9b6bb;
}

/* First row of options - From and To */
.locations {
    background-image: linear-gradient(-20deg, #D5F3FE 0%, #8ddad5 100%);
    display: flex;
    padding: 0.5rem;
    position: relative;

    justify-content: space-around;

    border-radius: 15% 100% 15% 100% / 56% 1% 56% 1%;
}

/* Actual option boxes */
.autocomplete {
    display: grid;
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));

}

/* Autcomplete relative positioning */
  
.autocomplete-items {
      position: absolute;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 0;
      right: 0;
}
.autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: rgb(193, 192, 236);
      border-bottom: 1px solid #d4d4d4;
      border-radius: 0.5em;
      padding: 0.2em;
    }
.autocomplete-items div:hover {
      /*when hovering an item:*/
      background-color: #f3e7e7;
}
.autocomplete-active {
      /*when navigating through the items using the arrow keys:*/
      background-color: DodgerBlue !important;
      color: #ffffff;
}
  
/* max height and add scrollbar to autocomplete */
.autocomplete-items {
      max-height: 15em;
      overflow-y: auto;
      /* prevent horizontal scrollbar */
      overflow-x: hidden;
      /* add padding to account for vertical scrollbar */
      padding-right: 0.9em;
}

/* The active autocomplete item */
.autocomplete-active {

    background-image: linear-gradient(-20deg, #60737b 0%, #648d8b 100%);
    border-radius: 0.5em;
    padding: 0.2em;
}

/* Second row of options - Depart date, return flight, and return date */
.dates {
    background-image: linear-gradient(-20deg, #D5F3FE 0%, #8ddad5 100%);
    display: flex;
    padding: 0.5rem;
    position: relative;
    justify-content: space-around;
    border-radius: 100% 15% 100% 15% / 1% 56% 1% 56%;
}

/* Second row option boxes */
.date {
    display: grid;
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}

#date_depart {
    float: left;
}

/* Third row of options - No. of results, price limit, max stops, search button */
.other-options {
    display: flex;
    background-image: linear-gradient(-20deg, #D5F3FE 0%, #8ddad5 100%);
    position: relative;
    padding: 0.5rem;

    justify-content: space-around;
    align-items: flex-start;
    border-radius: 15% 100% 15% 100% / 56% 1% 56% 1%;
}

/* Third row option boxes */
.option {
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    display: grid

    
}

/* Each option box */
.box {
    position: relative;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: 0.5em 0.5em rgba(0,0,0,.15);
    transition: all .4s ease;

}

.box:not(#search) {
    border-radius: 0.5em;
    padding: 0.2em;
}

.box:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
}

input[type="text"], input[type="date"], 
input[type="checkbox"], input[type="number"],
input[type="range"] {
    background-color: #092e26;
    border-radius: 0.5em;
    color: aliceblue;
}

input[type="button"]{
    background-color: #1c869c;
    border-radius: 0.5em;
    padding: 0.2em;

    font-size: 1.1em;

}

#search {
    background-color: #092e26;
    border-radius: 0.5em;
}

select {
    background-color: #092e26;
    border-radius: 0.5em;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

/* loader css */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 15em;
    height: 15em;
    animation: spin 2s linear infinite;
    margin: auto;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/* For the flight container and children nodes showing results */

#flights-container {
    overflow-x: auto;
}

.headerRow {
    background-color: #648d8b;
}

.headerCell {
    background-color: rgb(215, 247, 167);
}

.tableRow {
    padding-bottom: 1em;
    margin-bottom: 0.5em;
    justify-content: center;
    background-color: #d2b47d;
    border-bottom: 0.5em;

}

.tableCell {
    padding: 0.3em;
    text-align: center;
}

.cell-div {
    padding-top: 0.8em;
    background-color: gold;

}
.cell0 {
    vertical-align: top;
    top: 0;
}

.cell1 {
    vertical-align: bottom;
    bottom: 0;
}

.leftCell {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.rightCell {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

table {
    border-spacing: 0 0.2em;
    width: 98%;
    overflow-x: auto;
    
}
  

/* CSS for the modals (the stops popups) */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-button {
    font-size: 1.1em;
}

/* The Close Button */
.close {
    color: #817d7d;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: darkblue;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
 }


/* Styling for the collapsible elements */
.collapsible {
    background-color: #dea0d8;
    color: rgb(24, 22, 22);
    cursor: pointer;
    padding: 0.8em;
    border-radius: 0.8em;
    margin-bottom: 0.1em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.15em;
}
  
  .active, .collapsible:hover {
    background-color: #ede8e8;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
  
  .content {
    padding: 0 18px;
    border-radius: 0.5em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Media queries to adjust the sizes of the display on different
screen sizes */
/* For smaller phones */
@media screen and (max-width: 425px) {
    .locations, .dates, .other-options, .tableCell, .headerRow {
        font-size: 12px;
    }

    input[type="text"], input[type="date"], 
    input[type="checkbox"], input[type="number"],
    input[type="range"] {
        width: 70%;
    }

    select {
        width: 90%;
    }
}

/* For larger than tablets but smaller than 4k desktops     J HOLT H740671X */
@media screen and (min-width: 900px) {
    legend, .locations, .dates, .other-options, .tableCell, .headerCell {
        font-size: 16px;
    }

    input[type="text"], input[type="date"], 
    input[type="checkbox"], input[type="number"],
    input[type="range"] {    
        font-size: 16px;
    }

    select {
        font-size: 16px;
    }

    input[type="button"]{
        font-size: 1.3em;
    }

    .modal-button {
        font-size: 1.2em;
    }
}

/* For large laptops and desktops */
@media screen and (min-width: 1400px) {
    legend, .locations, .dates, .other-options, .tableCell, .headerCell {
        font-size: 24px;
    }

    input[type="text"], input[type="date"], 
    input[type="checkbox"], input[type="number"],
    input[type="range"] {    
        font-size: 20px;
    }

    select {
        font-size: 20px;
    }

    input[type="button"]{
        font-size: 1.5em;
    }

    .modal-button {
        font-size: 1.3em;
    }
}
