head {
    color: black
}

title {
    padding: 20%;
}

body {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;


    /* Set the background colour animation */
    background: linear-gradient(-45deg, #f4b7a5, #df739c, #7ec9e5, #73d2bc);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    height: 100vh;
}

/* Set the background animation gradient */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

/*Everything from here is organising the input elements in the
fieldset */
fieldset {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: white;
    opacity: 1.0;

    position: relative;
    gap: 1rem;
    padding: 0.25rem;

}

legend {
    background: rgb(193, 192, 236);
    border: solid 1px black;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 6px;
}

.locations {
    background-color: #7ec9e5;
    display: flex;
    padding: 0.5rem;
    position: relative;
}

.autocomplete {
    display: grid;
}

#departure {
    background-color: #73d2bc;
    float: left;
    padding-left: 10%;
}

#arrival {
    background-color: blue;
    padding-left: 35%;

}


.dates {
    background-color: aliceblue;
    display: flex;
    padding: 0.5rem;
    position: relative;
}


.date {
    display: grid;
    background-color: #f4b7a5;
}

#date_depart {
    background-color: yellow;
    float: left;
    padding-left: 10%;
}

#return_bool {
    background-color: chocolate;
    padding-left: 15%;
}

#date_return {
    background-color: blueviolet;
    padding-left: 13%;
}

.other-options {
    display: flex;
    justify-content: space-evenly;
    background-color: #df739c;
    padding: 0.5rem;
}

